<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>CubeText Next Generation! Wow!</title>
		<link rel="stylesheet" href="../node_modules/dragula/dist/dragula.css">
    	<link rel="stylesheet" href="../static/styles/electron-tabs.css">
    	<link rel="stylesheet" href="../static/styles/mytab.css">
	</head>
	<body>
		<div class="etabs-tabgroup">
			<div class="etabs-tabs"></div>
			<div class="etabs-buttons"></div>
		</div>
		
		<div id="config-example"></div>
		<div id="container" class="container">
			<div class="etabs-views"></div>
		</div>
	</body>

	<script>require("../app/controllers/index.js")</script>
</html>
